# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/
env/

# Data/artifacts
data/
artifacts/runs/
outputs/
milestone2_guide.txt
MSML605_MSAI605_Milestone2_Detailed.pdf

# Jupyter
.ipynb_checkpoints/
.pytest_tmp/

# OS
.DS_Store
Thumbs.db

# Logs
*.log


# LFW dataset
lfw/
lfw-deepfunneled/
*.tgz

# Large generated pair CSVs
artifacts/real_eval/m3_eval_pairs.csv
artifacts/real_eval/m3_eval_pairs_filtered.csv

lfw_allnames.csv

lfw_readme.csv

matchpairsDevTest.csv

matchpairsDevTrain.csv

mismatchpairsDevTest.csv

mismatchpairsDevTrain.csv

pairs.csv

people.csv

peopleDevTest.csv

peopleDevTrain.csv